body {
  margin: 0;
  padding: 0;
  margin-top: -25px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

header,
nav {
  background-color: #ddd5d0;
}

nav {
  position: fixed;
}

header img,
footer img {
  border-radius: 20px;
}

#topheader {
  font-style: italic;
  font-size: 1em;
}

header img {
  width: 38vw;
}

header a {
  text-transform: uppercase;
}

main {
  margin-left: 5vw;
  margin-right: 5vw;
}

i {
  color: #0f70b7;
}

.bluetitle {
  color: #0f70b7;
}

.picture {
  width: 60vw;
  max-width: 600px;
}

.imageModalButton {
  border: none;
  outline: none;
  padding: 0;
  background: none;
}

.iframeContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* ********************* ACTUALITES ******************** */

#headline {
  background-color: #0f70b7;
  color: white;
  border-radius : 20px
}

#headline i {
  color : red
}

#headline h1 {
  font-size : 3.2rem
}

.articlesTitles {
  color: #0f70b7;
  background-color: #ddd5d0;
  text-transform: uppercase;
}

.articlesTexts {
  line-height: 2em;
  text-align: left;
}

.articles i {
  color: #f42d23;
}

.imagepresentation {
    width: 80vw !important;
    max-width: 800px !important;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
}

.imagepresentation:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
}

#quisommesnouscontainer {
  background-image: url(images/imagebienvenue.jpg);
  background-position: center;
  background-size: cover;
  min-height: 110vh;
}

#bienvenuetextes {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  width : 50vw
}

#notrehistoire span {
  color: #0f70b7;
  font-weight: bold;
}

.brownbutton {
  margin-top: 1em;
}

.brownbutton,
.brownarea {
  background-color: #ddd5d0;
}

.brownbutton:hover {
  background-color: #e2c1ac;
}

.bluebutton,
.bluearea {
  color: white;
  background-color: #0f70b7;
}

.bluebutton:hover {
  color: white;
  background-color: #01497c;
}

.sections img {
  width: 66vw;
  margin: 0 auto;
  max-width: 537px;
}

/* ********************* INSCRIPTIONS ******************** */

#inscriptions {
  background-image: url(images/foot3.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#inscriptions h3 {
  background-color: #0f70b7;
}

/* ********************* PARTENAIRES ******************** */

.partersContainer img {
  width: 15vw;
}

/* ********************* CONTACT ******************** */

#contact {
  background-color: #ddd5d0;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#contact:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* ********************* PAGES SECTIONS ******************** */

.coordonnees,
.descriptionSection {
  width: 50vw;
}

.carouselSections {
  width: 70vw;
}

.emissionRadio {
  width: 50vw;
}

/* ********************* FOOTER ******************** */

footer img {
  width: 19vw;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer a:hover {
  text-decoration: none;
  color: #ddd5d0;
}

footer {
  background-color: #0f70b7;
  color: white;
}

/* ********************* RESPONSIVE ******************** */

@media screen and (max-width: 575px) {
  header img {
    width: 60vw;
  }
  .partersContainer img {
    width: 30vw;
  }
  .imagepresentation {
    width: 90vw;
  }
  footer img {
    width: 30vw;
  }
  .coordonnees,
  .descriptionSection {
    width: 80vw;
  }
  .carousel {
    width: 90vw;
    margin: 0 auto;
  }
  #bienvenuetextes{
      width: 100vw
  }
}

@media screen and (max-width: 768px) {
  .emissionRadio {
    width: 80vw;
  }
}

@media screen and (min-width: 1200px) {
  header img {
    width: 30vw;
  }
}
