body {
    margin: 0;
    padding: 0;
    margin-top: -25px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

header, nav {
    background-color: #DDD5D0
}

header img, footer img {
    border-radius: 20px;
}

#topheader {
    font-style: italic;
    font-size: 1em
}

header img {
    width: 38vw
}

.iframeContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .sections img {
      width : 35vw
  }

  .partersContainer img {
    width : 15vw
  }

  footer img {
    width: 19vw
}

footer a {
    text-decoration : none;
    color: inherit
}

footer a:hover {
    text-decoration : none;
    color : #DDD5D0
}

footer {
    background-color: #0F70B7;
    color: white
}

@media screen and (max-width: 575px){
    header img {
        width: 60vw
    }

    .partersContainer img {
        width : 30vw
      }
    
    footer img {
        width: 30vw
    }   
}

@media screen and (min-width: 1200px){
    header img {
        width: 30vw
    }
}