body {
    margin: 0;
    padding: 0;
    margin-top: -25px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

#topheader {
    font-style: italic;
    font-size: 0.9em
}

header img {
    width: 38vw
}